.card {
    min-height: 8rem;
    background-color: #fdfdfd;

    @apply shadow-lg w-full font-sans leading-normal rounded;
}

.card-title {
    @apply px-4 pt-6 font-bold text-xl mb-2;
}

.card-subtitle {
    @apply block text-base text-grey-dark mt-1;
}

.card-body {
    @apply px-4 py-6;
}

.card-footer {
    @apply px-4 py-6;
}

.tag {
    @apply inline-flex relative items-center bg-grey-light rounded-full h-8 p-3 text-sm font-semibold text-grey-darker mr-2;
}

.tag-icon {
    height: 1.5rem;
    margin-left: -0.33rem;

    @apply h-6 pr-1 text-grey-dark;
}

@media (min-width: 992px) {
    .card-body,
    .card-footer,
    .card-title {
        @apply px-8 py-6;
    }
    .card-title {
    }
}

.board-card {
    position: relative;
    transition: 0.2s;
    background-image: linear-gradient(to right top, #000000, #22080d, #390910, #50040d, #660000);
}

.board-pic {
    transition: 0.2s;
}
.board-text {
    @apply absolute pin-t pin-b pin-r pin-l m-4;
}

.board-pic:hover {
    opacity: 0.2;
}

.board-pic:hover + .board-info > .board-info-icon {
    color: transparent;
    width: 0;
    height: 0;
}

.board-info-link {
    color: transparent;
}
